.UserAlbums {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  padding-bottom: 1rem;
  gap: 1rem;

  > .title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 30px;
    color: #6a9ef7;
  }

  > .user-albums {
    display: flex;
    max-height: 20rem;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    padding: 0 1rem 1rem 0;

    > .album {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 2rem;
      max-width: 20rem;
      border: 2px solid #324b75;
      box-sizing: border-box;
      border-radius: 10px;

      color: #0f3575;
    }
  }
}
